* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Lato', sans-serif;
  color: #002D5F;
  background: white;
  /* margin-top: 10px; */
}

code {
  padding-top: 0px;
  margin-top: 10px;
  text-align: left;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline #65C8D0;
}

/* Top Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
  z-index: 2;
}

nav .logo {
  height: 90%;
  width: 20%;
  float: left;
  align-content: center;
  justify-content: left;
  font-weight: bold;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height:  40px;
  color: #002D5F;
  padding: 5px 20px;
  margin: 5px 10px;
  transition: .5s;
}

.subnav {
  display: none;
  position: absolute;
  transition: 0.5s;
  text-align: left;
}

nav a:not(.nav_logo):hover {
  background-color: #e7e7e7;
  border-radius: 15px;
  text-decoration: none;
}

.main_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_nav li:hover .subnav {
  display: block;
}

.scrolled, .no_scroll {
  background: white;
  border-bottom: 1px solid #65C8D0;
}

.logo a img {
  transition: 0.5s;
}

.scrolled .logo a img, .no_scroll .logo a img {
  height: 35px;
  width: 140px;
}

.scrolled:not(ul), .no_scroll:not(ul) {
  height: 60px;
}

#search_form {
  display: none;
  transition: 0.5s;
}

#search_button {
  display: none;
}

#search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 2px;
  border-color: #002D5F;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

#nav_search {
  /* border-color: #002D5F;
  border-width: 1px;
  border-style: solid; */
  color: #002D5F;
  font-size: 12pt;
  /* border-radius: 2px; */
  font-family: 'Lato', sans-serif;
  padding-left: 2px;
  background-color: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  padding-left: 2px;
  color: #002D5F;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left: 2px;
  color: #002D5F;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding-left: 2px;
  color: #002D5F;
}

.fa-search {
  margin-right: 10px;
  margin-left: 5px;
  color: #002D5F;
  border-color: #002D5F;
  transition: 0.5s;
}

.small .large_only {
  display: none;
}

/* main page */
.full {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

#parallax {
  background-image: url('../images/boat_wide.jpg');
  background-size: cover;
  border-bottom: 1px solid #65C8D0;
}

.headline {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #65C8D0;
}

.headline h1 {
  font-size: 70pt;
  font-weight: normal;
}

.headline h2 {
  font-size: 40pt;
  font-weight: normal;
}

.headline img {
  width: 80vw;
}

.section_headline {
  text-align: center;
  font-size: 25pt;
  margin: 0.3em;
  margin-top: 1em;
  font-weight: normal;
}

.main_content {
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.main_content p a {
  color: #65C8D0;
}

table {
  margin: 20px;
}

#events_table tr {
  margin: 10px;
}

.event_name {
  text-align: center;
}

#events_table tr>td {
  padding: 0.5em;
}

#events_table tr:hover {
  background-color: #e7e7e7;
}

#guides_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

#guides_layout a {
  border-radius: 15px;
  padding: 10px;
}

#guides_layout a h4 {
  margin-top: 10px;
  font-size: 16pt;
  color: #65C8D0;
}

#guides_layout a img {
  width: 125px;
  height: 125px;
  /* border-radius: 30px; */
  transition: 0.5s;
}

#guides_layout a:hover {
  transition: 0.5s;
  background-color: #e7e7e7;
  text-decoration: none;
}

/* end index.html requirements */

/* guide main pages */
.page_title {
  text-align: center;
  margin-top: 80px;
}

.subsection_header {
  margin-top: 50px;
  margin-bottom: 5px;
}

.main_content h3 {
  margin: 20px;
}

.main_content h2 {
  margin-top: 20px;
}

.post_content {
  margin: 20px;
}

.post_content p {
  margin-top: 10px;
  text-align: left;
}

.post_table, .post_table * {
  text-align: left;
  border: #002D5F 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

.post_table {
  margin-left: auto;
  margin-right: auto;
}

.main_content img {
  max-width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* sidebar */
#left_sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 15vw;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  z-index: 2;
  padding: 20px;
}

.main_bar {
  float: right;
  margin-right: 20px;
}

/* progress goal layout */
#goal_header {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #002D5F;
}

#new_goal_button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.milestone_progress {
  border-bottom: #002D5F;
  border-style: solid;
  border-width: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 2px;
}

.goal_sublayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.goal_sublayout ul li {
  margin-top: 20px;
  background-color: white;
  border: #002D5F;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: #002D5F;
  padding: 30px;
}

#goals_layout h2 {
  color: #002D5F;
  text-align: left;
}

.goal_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 10px;
}

.goal_creator {
  display: block;
  flex-basis: 100%;
  margin-left: 15px;
  padding: 10px;
}

.goal_sublayout ul {
  list-style: none;
}

.goal_top img {
  width: 50px;
  height: 50px;
  flex-basis: min-content;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  border: #65C8D0 1px solid;
}

.goal_sublayout p:not(.goal_body), .goal_sublayout h4 {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.goal_body {
  margin-bottom: 0px;
  font-size: large;
  white-space: pre-line;
}

.goal_top p {
  margin-bottom: auto;
}

.goal_sublayout h4 {
  text-transform: capitalize;
  font-size: larger;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 5px;
}

.goal_top button, .comment_button {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding: 10px;
  background-color: #002D5F;
  color: white;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  width: max-content;
  white-space: nowrap;
  flex-basis: 150px;
}

.goal_assignees, .goal_creator_tag, .comment_top p {
  font-size: small;
}

#make_new_goal {
  margin-top: 50px;
  text-align: left;
}

#new_goal_button button {
  background-color: #B31B1B;
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-size: large;
  font-family: 'Lato', sans-serif;
}

#make_new_goal h2 {
  margin-bottom: 10px;
}

#goal_adder_overall {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#goal_adder_overall ::placeholder, .comments_layout ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  padding-left: 2px;
  color: #002D5F;
  opacity: 1; /* Firefox */
}

#goal_adder_overall :-ms-input-placeholder, .comments_layout :-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left: 2px;
  color: #002D5F;
}

#goal_adder_overall ::-ms-input-placeholder, .comments_layout ::-ms-input-placeholder { /* Microsoft Edge */
  padding-left: 2px;
  color: #002D5F;
}

#goal_adder_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#goal_title_input {
  flex-basis: 100%;
  font-size: large;
  font-family: 'Lato', sans-serif;
  color: #002D5F;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #002D5F;
}

#goal_adder_overall p {
  margin-top: 20px;
}

#milestone_selector {
  font-size: large;
  font-family: 'Lato', sans-serif;
  color: #002D5F;
}

#members_selector {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
}

#login_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#goal_body_input {
  width: inherit;
  height: 25vh;
  font-family: 'Lato', sans-serif;
  color: #002D5F;
  font-size: medium;
  resize: none;
  padding: 2px;
  border-color: #002D5F;
  border-style: solid;
  border-width: 1px;
}

#goal_adder_overall button {
  background-color: #B31B1B;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  width: fit-content;
  font-size: medium;
}

#goal_adder_overall label {
  white-space: nowrap;
  width: 90px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

/* comments layout */

.comment_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.comment_top img {
  height: 20px;
  width: 20px;
  margin-left: 0px;
  margin-right: 10px;
  border: #65C8D0 1px solid;
}

.comments_layout textarea {
  border: #002D5F 1px solid;
  flex-basis: 100%;
  margin-right: 10px;
  font-size: medium;
  color: #002D5F;
  flex-basis: 100%;
  resize: none;
  font-family: 'Lato', sans-serif;
  padding: 2px;
  height: 60px;
}

.comment {
  margin-bottom: 10px;
  margin-top: 10px;
  border: #002D5F 1px solid;
  border-radius: 20px;
  padding: 20px;
}

.comments_layout {
  margin-top: 20px;
  transition: all 0.5s ease;
}

.comment_button {
  margin-left: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.comment_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment_adder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.comment_adder button {
  flex-basis: 80px;
}

.comment_top p {
  padding-top: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.comment_body {
  font-size: medium;
  margin-bottom: 0px;
  padding-bottom: 0px;
  white-space: pre-line;
}